bin/
idc/idc
include/
lib/
*.o
nroff/difftags
nroff/droff
nroff/htmlc
nroff/hts
nroff/hts2html
nroff/libnroff.a
nroff/nr2html
nroff/nr2rtf
nroff/nr2tex
nroff/nrar
nroff/nrcheck
nroff/nrinfo
nroff/nrorder
nroff/nrsearch
nroff/ntags
nroff/superman
nroff/table
nroffdoc/manrun.1
nroffdoc/manrun.hts
nroffdoc/manrun.lbn
nroffdoc/manrun.rtf
nroffdoc/manrun.sm
utils/libutils.a
