name: Build web-pages (Ubuntu-latest)

on:
  workflow_dispatch:
    branches: [ main ]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    name: Build on ${{ matrix.distro }} ${{ matrix.arch }}

    steps:
      - name: Install dependencies
        run: |
           echo INSTALL: TexLive
           sudo apt install -y texlive
           sudo apt install -y texlive-latex-extra
           which pdflatex
           
      - name: Checkout code
        uses: actions/checkout@v4
       
      - name: Compile nroff tools
        run: |
          cd ./nroff
          make

      - name: Generate docs
        run: |
          export PATH=`pwd`/nroff/bin/linux:$PATH
          cd ./microemacs/doc
          make me.pdf
          make web_pages/me/index.html

      - name: Build package store
        run: |
          cd microemacs/doc/web_pages
          curl -fsSL -o packages.zip https://github.com/bjasspa/jasspa/releases/latest/download/Jasspa_MicroEmacs_Latest_packages.zip
          cd me
          unzip ../packages.zip -d .
          mv ../../me.pdf ./Jasspa_MicroEmacs.pdf

      - name: Upload web-pages as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: microemacs/doc/web_pages/me/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

